:root{
    /* --base-clr: #1d1a23;
    --line-clr: #18D92E;
    --hover-clr: #3694FF;
    --text-clr: #DBA858;*/
    --secondary-text-clr:#47D860;
    /* --accent-clr: #EF6DB3;
    --sidebar-clr: #18464e;
    --sidebar-border-clr: #750124; */
    --line-clr: #750124;

}

/* Universal selector - Selects every element on the page */
*{
    margin: 0;
    padding: 0;
}

html{
    /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    line-height: 1.5rem; /* 1 rem = font size */
}

body{
    min-height: 100vh;
    min-height: 100dvh;
    background: Linear-gradient(to bottom, #000d0f, #005d6b);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr; /* auto is for sidebar (only as big as needed). Rest of website is the rest of the space available (1 fraction) */
}

#topLineBreak{
    border-color: var(--line-clr);
}

/* For submission steps on home page */
#submission-steps {
    padding-top: 10px;
    padding-left: 60px;
}


/* For loading icon while model is being generated */
.spinner {
  display: none; /* hide by default */
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #4CAF50; /* color of the spinner */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto; /* center horizontally */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


main{
    padding: min(30px, 7%);
}
main p{
    /* color: var(--secondary-text-clr); */
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left:15px
}
/* main #modelInfo{
    margin-left: 60px;
} */

main a{
    color: var(--secondary-text-clr);
}

main h2{
    font-weight: bold;
    text-decoration: underline;
}

#walaImage{
  max-width: 50%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Automatically adjusts height to maintain aspect ratio */
  display: block;  /* Optional: removes extra space below the image */
  margin: 0 auto;
}

#polygenImage{
  max-width: 80%; /* Ensures the image doesn't exceed its container's width */
  height: auto;    /* Automatically adjusts height to maintain aspect ratio */
  display: block;  /* Optional: removes extra space below the image */
  margin: 0 auto;
}


@media(max-width: 800px){
    body{
        grid-template-columns: 1fr;
    }
    main{
        padding: 2em 1em 60px 1em;
    }
}

